.tablet ol {
  backdrop-filter: blur(40px);
  background-color: rgba(var(--color-3), 0.04);
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding-inline: 3rem 2.88rem;
  width: 28.125rem;
}

.tablet li {
  align-items: center;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  display: flex;
  pointer-events: none;
}

.tablet li:hover {
  border-bottom-color: rgba(var(--color-3), 0.5);
}

.tablet li.active {
  border-bottom-color: rgb(var(--color-3));
}

.tablet a {
  pointer-events: auto;
}

.tablet span {
  font-size: 0.875rem;
}
