.mobile {
  padding-block: 1.5rem 0.62rem;
  text-align: center;
}

.mobile h1 {
  font-size: 1rem;
  gap: 1.12rem;
  margin: 0 auto 2rem;
}

.mobile img {
  margin-bottom: 1.62rem;
  width: 10.6rem;
}

.mobile ul {
  font-size: 0.87rem;
  height: 1.75rem;
  letter-spacing: 2.36px;
  margin: 0 auto 1.25rem;
  width: 14.8rem;
}

.mobile h2 {
  font-size: 3.5rem;
}

.mobile p {
  font-size: 0.94rem;
  line-height: 166.67%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.mobile dt {
  margin-bottom: 12px;
}

.mobile dd:first-of-type {
  margin-bottom: 2rem;
}
