.mobile {
  padding-bottom: 3.5rem;
}

.mobile h1 {
  gap: 1rem;
}

.mobile img {
  display: block;
  height: 13.87rem;
  margin-inline: auto;
}

.mobile .divider {
  border-top: 1px solid var(--color-divider);
}

.mobile ul {
  margin: 2rem auto;
  width: 5.5rem;
}

.mobile .dot {
  width: 10px;
}

.mobile .data {
  gap: 1rem;
}

.mobile h2 {
  gap: 8px;
}

.mobile .role {
  font-size: 1rem;
  opacity: 0.49;
}
