<div
  *ngrxLet="{ category: category$, width: width$ } as observables"
  class="container"
  [ngClass]="observables.width"
  [ngStyle]="{
    backgroundImage:
      'url(../assets/' +
      observables.category +
      '/background-' +
      observables.category +
      '-' +
      observables.width +
      '.jpg)'
  }"
>
  <header>
    <img src="../assets/shared/logo.svg" alt="Logo" />
    <nav>
      <app-navigation></app-navigation>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
