.desktop {
  height: 47.75rem;
  padding-left: 6.97rem;
  padding-top: 4.75rem;
}

.desktop h1 {
  font-size: 1.75rem;
  letter-spacing: 4.72px;
}

.desktop p {
  font-size: 1.12rem;
  line-height: 177.78%;
  width: 27.75rem;
}
