.main {
  display: flex;
  flex-direction: column;
}

h1 {
  display: contents;
  text-transform: uppercase;
}

.so {
  color: rgb(var(--color-2));
  font-family: var(--font-sans-condensed);
  font-weight: 400;
}

.space {
  color: rgb(var(--color-3));
  font-family: var(--font-serif);
  font-weight: 400;
}

p {
  color: rgb(var(--color-2));
}

a {
  align-content: center;
  aspect-ratio: 1;
  background-color: rgb(var(--color-3));
  border-radius: 100%;
  display: grid;
  margin-inline: auto;
  text-decoration: none;
  transition: box-shadow 0.5s;
  width: var(--a-width);
}

a:hover {
  box-shadow: 0 0 0 calc(0.3 * var(--a-width)) rgba(var(--color-3), 0.1);
}

.explore {
  color: rgb(var(--color-1));
  font-family: var(--font-serif);
  font-size: var(--explore-font-size);
  height: var(--explore-font-size);
  text-transform: uppercase;
}

.mobile {
  --a-width: 9.375rem;
  --explore-font-size: 1.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.mobile .main {
  gap: 1rem;
  margin-bottom: 5.06rem;
}

.mobile .so {
  font-size: 1rem;
  letter-spacing: 2.7px;
}

.mobile .space {
  font-size: 5rem;
  line-height: 6.25rem;
}

.mobile p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.mobile .explore {
  letter-spacing: 1.25px;
}
