<div *ngrxLet="width$ as width" [ngClass]="width">
  <div class="main">
    <h1>
      <span class="so">So, you want to travel to</span>
      <span class="space">Space</span>
    </h1>
    <p>
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
  </div>
  <a routerLink="/destination">
    <span class="explore">Explore</span>
  </a>
</div>
