.mobile {
  --a-width: 9.375rem;
  --explore-font-size: 1.25rem;
  text-align: center;
}

.mobile .main {
  gap: 1rem;
  margin-bottom: 5.06rem;
}

.mobile .so {
  font-size: 1rem;
  letter-spacing: 2.7px;
}

.mobile .space {
  font-size: 5rem;
  line-height: 125%;
}

.mobile p {
  font-size: 0.9375rem;
  line-height: 166.667%;
}

.mobile .explore {
  letter-spacing: 1.25px;
}
