<ng-container
  *ngrxLet="{
    isMobileMenuOpen: isMobileMenuOpen$,
    width: width$
  } as observables"
>
  <ng-container *ngIf="observables.width === 'mobile'">
    <button *ngIf="!observables.isMobileMenuOpen" (click)="onOpenMobileMenu()">
      <img
        src="../../../assets/images/shared/icon-hamburger.svg"
        alt="Menu Icon"
      />
    </button>
    <app-mobile-menu
      *ngIf="observables.isMobileMenuOpen"
      [@menu]
    ></app-mobile-menu>
  </ng-container>
  <ng-container
    *ngIf="observables.width === 'tablet' || observables.width === 'desktop'"
  >
    <app-menu></app-menu>
  </ng-container>
</ng-container>
