<ng-container
  *ngrxLet="{ isMenuOpen: isMenuOpen$, width: width$ } as observables"
>
  <ng-container *ngIf="observables.width === 'mobile'">
    <button *ngIf="!observables.isMenuOpen" (click)="onOpenMenu()">
      <img
        src="../../../assets/images/shared/icon-hamburger.svg"
        alt="Menu Icon"
      />
    </button>
    <app-mobile-menu *ngIf="observables.isMenuOpen" [@menu]></app-mobile-menu>
  </ng-container>
  <ng-container
    *ngIf="observables.width === 'tablet' || observables.width === 'desktop'"
  >
    <app-menu></app-menu>
  </ng-container>
</ng-container>
