.main {
  display: flex;
  flex-direction: column;
}

h1 {
  display: contents;
  font-weight: 400;
  text-transform: uppercase;
}

.so {
  font-family: var(--font-sans-condensed);
}

.space {
  color: rgb(var(--color-3));
  font-family: var(--font-serif);
}

a {
  align-content: center;
  aspect-ratio: 1;
  background-color: rgb(var(--color-3));
  border-radius: 100%;
  display: grid;
  margin-inline: auto;
  text-decoration: none;
  transition: box-shadow 0.5s;
  width: var(--a-width);
}

a:hover {
  box-shadow: 0 0 0 calc(0.3 * var(--a-width)) rgba(var(--color-3), 0.1);
}

.explore {
  color: rgb(var(--color-1));
  font-family: var(--font-serif);
  font-size: var(--explore-font-size);
  height: var(--explore-font-size);
  text-transform: uppercase;
}
