.tablet {
  --a-width: 15.12rem;
  --explore-font-size: 2rem;
  margin-top: 6.62rem;
  padding-bottom: 5.63rem;
  text-align: center;
}

.tablet .main {
  gap: 1.5rem;
  margin-bottom: 9.75rem;
}

.tablet .so {
  font-size: 1.25rem;
  letter-spacing: 3.37px;
}

.tablet .space {
  font-size: 9.37rem;
  line-height: 100%;
}

.tablet p {
  line-height: 175%;
  margin-inline: auto;
  width: 27.75rem;
}

.tablet .explore {
  letter-spacing: 2px;
}
