<ng-container *ngrxLet="width$ as width">
  <ng-container *ngIf="width === 'mobile'">
    <button *ngIf="!isMenuDisplayed" (click)="onMenuToggle()">
      <img
        src="../../../assets/images/shared/icon-hamburger.svg"
        alt="Menu Icon"
      />
    </button>
    <app-mobile-menu
      *ngIf="isMenuDisplayed"
      [@menu]
      (closed)="onMenuToggle()"
    ></app-mobile-menu>
  </ng-container>
  <ng-container *ngIf="['tablet', 'desktop'].includes(width)"></ng-container>
</ng-container>
