/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-1: 11, 13, 23;
  --color-2: 208, 214, 249;
  --color-3: 255, 255, 255;
  --color-divider: #383b4b;

  --font-sans: "Barlow", sans-serif;
  --font-sans-condensed: "Barlow Condensed", sans-serif;
  --font-serif: "Bellefair", serif;

  --mobile-padding-inline: 1.5rem;
  --tablet-padding-left: 2.44rem;
}

:root::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  text-transform: uppercase;
}
